@import url("forumForms.css");

/*userEdit*/
#getUserEditForm{
padding-left:22%;
}
.getUserThreadP
{
	margin:0;
	padding:0;
	padding-left:2%;
}
.getUserThreadP font
{
	font-size:20px;
}
.getUserThreadP a 
{
	font-size:18px;
	text-decoration:none;
}
.hr_style
{
	width:40%; float:left;
}
/*Global style for most of the page*/

html,body{
margin:0;
padding:0;


}
body 
{ 
	overflow-y: scroll; /*shadow scrollbar*/
}
input{
	margin:2px;
	width:auto;
}


.leftBarUser{
	font-size:18px;
	color:#3B8DBD;
	
	float:left;
	width:8%;

	padding: 2% 5% 0% 2%;
	background:#001;
	max-height:100%;
	min-height:400px;
	
	border-bottom-right-radius: 50px 100px;
	border-top-right-radius: 50px 50px;
}
.leftBarUser input{
	padding:0;
	margin:0;
	width:150px;
}
.leftBarUser p, h3{
	color:white;
	
}
.leftBarUser a{
	color:#3B8DBD;
	text-decoration:none;
}
.leftBarUser label
{
	padding:none;
	margin:none;
}
input[type=submit]
{
	margin-top:20px;
	padding:4px; 
	border:2px solid #ccc; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size:15px;
}
input[type=submit]:hover
{
	#background-color:#A100A1;
	border:2px dotted  #ccf;
}

#forum_wrapper
{
 width:65%;

 margin-left:auto;
 margin-right:auto;

 
 /* outer shadows  (note the rgba is red, green, blue, alpha) */
-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); 
-moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);

/* rounded corners */
-webkit-border-radius: 12px;
-moz-border-radius: 7px; 
border-radius: 7px;

/* gradients */
background: -webkit-gradient(linear, left top, left bottom, 
color-stop(10%, white), color-stop(50%, white), color-stop(100%, #D7E9F1)); 
background: -moz-linear-gradient(top, white 0%, white 55%, #D5E4F3 130%);
}

/*header.php style*/

.forum_menu{

height:2%;
background:#001;
font-size:30px;
margin:0px 0px 20px 0px;
padding:20px 20px 20px 20px;

width:97%;

border-bottom-right-radius: 50px 50px;
box-shadow:0px 10px 20px gray;
#text-align:center;

}
.forum_menu a{
	padding-left:0.5em;
	padding-right:0.5em;
	padding:0em 1em 0em 1em;
	color:#278DA1;
	text-decoration:none;
	
}
.forum_menu a:hover{
border-bottom:1px solid white;
border-top:1px solid white;
color:3B8DBD;
}
.forum_menu a:visited{
	color:3B8DBD;
}

a
{
	text-decoration:none;
}
/*END OF STYLE FOR header.php*/

/*#############################################*/




/*SPEC FOR INDEX, WHY? I DONT KNOW*/

.cat_links
{
	font-size:20px;
	text-decoration:none;
	display:block;
	padding: 20px;
	padding-top: 10px;
	padding-bottom:10px;
	border: 1px solid #000000;
	margin-bottom:5px;
	background-color:#cccccc;
	color:#000000;
	
}
.cat_links:hover
{
	background-color: #dddddd;
}

.cat_links font
{
	font-size:15px;
}

/* addGallery.php style */

#leftColumnGalleryUpload, #rightColumnGalleryUpload{
	border: 1px solid black;
    float: left;
    min-height: 450px;
    color: white;
}

#leftColumnGalleryUpload {
     width: 40%;
     background-color: #111;
}
#leftColumnGalleryUpload  form{
	margin:20px;
}
#rightColumnGalleryUpload {
     width: 40%;
     background-color: #111;
}

/* END OF addGallery.php STYLE */


/* gallery.php style*/

.single_gallery{
	
	display: block;
    margin-left: auto;
    margin-right: auto;	
	padding-bottom:10px;
	
	
}
.div_single_gallery{

	text-align:center;
	margin:0px;
	padding:5px 0px 0px 0px;
	background-color:black;
	text-align:center;
	color:#3B8DBD;
	border-bottom:2px solid #3B8DBD;
	
	
}


#parent_image{
	
	text-align:center;
	width:100%;
	padding-left:2%;
	
}
.child_image{
	float: left;
    width: 300px;
}
.child_image img{
	width:250px; 
	height:200px;
	margin:0px;
	background:#001;
	border:1px solid black;
	border-bottom-right-radius: 10px 10px;
	border-top-right-radius: 10px 10px;
	border-bottom-left-radius: 10px 10px;
	border-top-left-radius: 10px 10px;
}
.child_image p {
margin:0px;
padding-bottom:20px;
}


/*END OF gallery.php STYLE*/

/*FOR FANCYBOX*/
.backdrop
		{
			position:absolute;
			top:0px;
			left:0px;
			width:100%;
			height:100%;
			background:#000;
			opacity: .0;
			filter:alpha(opacity=0);
			z-index:50;
			display:none;
		}
 
 
		.box
		{
			position:absolute;
			top:10%;
			left:5%;
			right:5%;
			width:90%;
			height:100%;
			background:#ffffff;
			z-index:51;
			padding:10px;
			
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			-moz-box-shadow:0px 0px 5px #444444;
			-webkit-box-shadow:0px 0px 5px #444444;
			box-shadow:0px 0px 5px #444444;
			display:none;
		}
 
		.close
		{
			float:right;
			margin-right:6px;
			cursor:pointer;
		}

