

/*userEdit*/
#getUserEditForm{
padding-left:22%;
}

/*Global style for most of the page*/

html,body{
margin:0;
padding:0;
}
input{
margin:2px;
width:auto;
}


.leftBarUser{
	float:left;
	width:8%;
	padding-left:5%;
	padding-right:5%;
	background:#001;
	max-height:100%;
	min-height:500px;
	
	border-bottom-right-radius: 50px 100px;
	border-top-right-radius: 50px 50px;
}
.leftBarUser input{
	padding:0;
	margin:0;
	width:150px;
}
.leftBarUser p, h3{
	color:white;
	
}
.leftBarUser a{
	color:#3B8DBD;

}
#forum_wrapper
{
 width:60%;
 padding-left:1%;
 padding-top:5%;
 padding-right:1%;
 padding-bottom:1%;
 margin-left:auto;
 margin-right:auto;
 background:white;
}

/*header.php style*/

.forum_menu{

height:5%;
background:#001;
font-size:30px;
margin:0px 0 20px 0;
padding:20px 0 20px 0;
border-bottom-right-radius: 100px 100px;
width:60%;
#text-align:center;

}
.forum_menu a{
	padding-left:2em;
	color:3B8DBD;
	
}
.forum_menu a:hover{
border-bottom:1px solid white;
border-top:1px solid white;
}
.forum_menu a:visited{
	color:3B8DBD;
}

/*END OF STYLE FOR header.php*/
/*#############################################*/
/* view_topic and view_cat style*/

.OP_feild{
background:green;
-moz-border-radius-bottomright: 25px 50px;
border-bottom-right-radius: 25px 50px;
}
.normal_field{
background:#FF8533;
-moz-border-radius-bottomright: 25px 50px;
border-bottom-right-radius: 25px 50px;
}
.pagin{
float:right;
margin-right:10;

font-size:1.5em;
}

.cat_threads
{
	display:block;
	padding: 5px;
	padding-top: 10px;
	padding-bottom:10px;

	margin-bottom:5px;
	background-color:#cccccc;
	color:#000000;
}
.cat_threads:hover
{
	background-color: #dddddd;
}
button{
padding:2px;
font-size:16px;
}








/*END OF view_topic and view_cat STYLE*/

/* addGallery.php style */

#leftColumnGalleryUpload, #rightColumnGalleryUpload{
	border: 1px solid black;
    float: left;
    min-height: 450px;
    color: white;
}

#leftColumnGalleryUpload {
     width: 40%;
     background-color: #111;
}
#leftColumnGalleryUpload  form{
	margin:20px;
}
#rightColumnGalleryUpload {
     width: 40%;
     background-color: #111;
}

/* END OF addGallery.php STYLE */


/* gallery.php style*/




.single_gallery{
	width:100%;
	height:100%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.div_single_gallery{
  text-align:center;
  padding:5%;
}
.div_single_gallery img{
	background:#001;
	border:1px solid black;
	border-bottom-right-radius: 30px 100px;
	border-top-right-radius: 30px 50px;
	padding:10px;
	
	border-bottom-left-radius: 50px 100px;
	border-top-left-radius: 30px 50px;
}

#parent_image{
	
	text-align:center;
	width:100%;
	background:white;
	
}
.child_image{
	float: left;
    width: 300px;

	

}
.child_image img{
width:250px; 
height:250px;
	margin:0px;
	padding:10px;
	background:#001;
	border:1px solid black;
	border-bottom-right-radius: 30px 100px;
	border-top-right-radius: 30px 50px;
	
	border-bottom-left-radius: 30px 100px;
	border-top-left-radius: 30px 50px;
}
.child_image p {
margin:0px;
padding:0px;
}


/*END OF gallery.php STYLE*/